@import "bs-theme";

.App {
  // text-align: center;
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

button {
  @include hover-focus {
    cursor: pointer;
  }
}

.login {
  display: inline-block;
  margin: auto;
  padding: $spacer;
  h2 {
    text-align: left;
  }
}

.logged-in {
  padding-top: $spacer;
  .logout {
    float: right;
  }
}

